<div id="load" *ngIf="loading">
  <div>G</div>
  <div>N</div>
  <div>I</div>
  <div>D</div>
  <div>A</div>
  <div>O</div>
  <div>L</div>
</div>
<section class="section banner">
  <div class="container text-center">
    <div class="section-box-banner">
      <div class="content"> 
        <div>
          <h3 class="text-left">
            <!-- <span class='n-section-title'>02.</span> -->
            Maze Game
          </h3>
          <p class="text-left">
            A maze game is a type of puzzle game that involves navigating through a complex network of paths and
            obstacles to
            reach a specific goal. The goal is typically represented by a specific location within the maze, such as a
            treasure chest, a key, or a final exit.
          </p>

          <p class="text-left">
            The player starts at the entrance of the maze and must use their problem-solving skills to find their way
            through
            the twists and turns of the labyrinth to reach the goal. The maze can be presented in various forms, such as
            a 2D
            top-down view or a 3D first-person perspective.
          </p>

          <p class="text-left">
            Maze games can range from simple and easy to incredibly complex and challenging. Some maze games may have a
            time
            limit or other restrictions that add to the difficulty level. The game may also include other features such
            as
            power-ups, enemies, or obstacles that the player must avoid or overcome in order to successfully complete
            the
            maze.
          </p>

          <p class="text-left">
            Overall, maze games are a fun and challenging way to exercise problem-solving and critical thinking skills
            while
            also providing an entertaining and engaging gameplay experience.
          </p>
        </div>
        <div class="maze-form">
          <label for="nRow"># Rows</label>
          <input id="nRow" type="number" [(ngModel)]="row" />
          <label for="nCol"># Columns</label>
          <input id="nCol" type="number" [(ngModel)]="col" />
          <button class="main-btn" type="button" (click)="drawMaze()">New Maze</button>
          <button class="main-btn" type="button" (click)="solution()">Solution</button>
        </div>
        <section>
          <canvas id="maze"></canvas>
        </section>
        <section class="control-buttons">
          <div class="arrows">
            <div><span (click)="move('Up')">⬆️</span></div>
            <div>
              <span (click)="move('Left')">⬅️</span>
              <span (click)="move('Right')">➡️</span>
            </div>
            <div><span (click)="move('Down')">⬇️</span></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>