<nav [@animateMenu] class="navbar main-navbar on-top" [class.nav-shadow]='this.pageYPosition>0'>
    <div class="container">
        <a (click)="gotoHomePage()" class="navbar-brand text-light cursor-pointer">
            <img alt="Ewumesh home" title="Navigate to Home" class="br-5" src='assets/images/lo.png' width='30' />
        </a>
        <ul ngbNav #nav="ngbNav" class="menu-ul">
            <li ngbNavItem (click)='goHome()'>
                <a title="Home" ngbNavLink><span class='nav-number'>01. </span> <span class="underline nav-text"> {{"Header.Home" |
                        translate}}</span></a>
                <ng-template ngbNavContent>Home</ng-template>
            </li>
            <li ngbNavItem (click)='gotoBlogsPage()'>
                <a title="Blogs" ngbNavLink><span class='nav-number'>02. </span> <span class="underline nav-text"> {{"Header.Blogs" |
                        translate}}</span></a>
                <ng-template ngbNavContent>Blog content</ng-template>
            </li>

            <li ngbNavItem (click)='gotoAI()'>
                <a title="Artificial Intelligence" ngbNavLink><span class='nav-number'>03. </span> <span class="underline nav-text"> {{"Header.AI" |
                        translate}}</span></a>
                <ng-template ngbNavContent>Artificial Intelligence</ng-template>
            </li>
            <li ngbNavItem>
                <a title="Download CV" (click)="downloadCV()" class="main-btn cv-btn" ngbNavLink>
                    {{"Header.cvBtn" | translate}}
                </a>
            </li>
            <li>
                <div ngbDropdown class="d-inline-block">
                    <div class="language-container" id="dropdownForm1" ngbDropdownToggle>
                        <img title="Thai Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "th"' width="20px"
                            src="https://www.worldometers.info/img/flags/small/tn_th-flag.gif" alt="Thailand">
                        <span title="Thai Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "th"' class="flag-text">Thai</span>

                        <img title="Korean Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "kr"' width="20px"
                            src="https://www.worldometers.info/img/flags/small/tn_ks-flag.gif" alt="Korea">
                        <span title="Korean Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "kr"' class="flag-text">Korean</span>

                        <img title="French Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "fr"' width="20px"
                            src="https://www.worldometers.info/img/flags/small/tn_fr-flag.gif" alt="French">
                        <span title="French Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "fr"' class="flag-text">French</span>
                        
                        <img title="Russian Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "ru"' width="20px"
                            src="https://www.worldometers.info/img/flags/small/tn_fr-flag.gif" alt="Russian">
                        <span title="Russian Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "ru"' class="flag-text">Russian</span>

                        <img title="English Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "en"' width="20px"
                            src="https://www.worldometers.info/img/flags/us-flag.gif" alt="English">
                        <span title="English Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "en"' class="flag-text">English</span>

                        <img title="Español Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "es"' width="20px"
                            src="https://www.worldometers.info/img/flags/sp-flag.gif" alt="Español">
                        <span title="Español Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "es"' class="flag-text">Español</span>

                        <img title="日本 Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "jp"' width="20px"
                            src="https://www.worldometers.info/img/flags/small/tn_ja-flag.gif" alt="日本">
                        <span title="日本 Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "jp"' class="flag-text">日本</span>

                        <img title="中国人 Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "ch"' width="20px"
                            src="https://www.worldometers.info/img/flags/small/tn_ch-flag.gif" alt="中国人">
                        <span title="中国人 Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "ch"' class="flag-text">中国人</span>

                        <img title="عربي Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "ar"' width="20px"
                            src="https://www.worldometers.info/img/flags/small/tn_sa-flag.gif"
                            alt="عربي">
                        <span title="عربي Language Selected" (click)="clickOnLanguage()" *ngIf='languageFormControl.value == "ar"' class="flag-text">عربي</span>


                        <svg (click)="clickOnLanguage()" class='arrow-language' xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                        </svg>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <div (click)='changeLanguage("th")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "th"'>
                            <img width="20px"
                                src="https://www.worldometers.info/img/flags/small/tn_th-flag.gif"
                                alt="Thailand">
                            <span class="flag-text">Thai</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("kr")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "kr"'>
                            <img width="20px"
                                src="https://www.worldometers.info/img/flags/small/tn_ks-flag.gif"
                                alt="Korean">
                            <span class="flag-text">Korean</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("fr")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "fr"'>
                            <img width="20px"
                                src="https://www.worldometers.info/img/flags/small/tn_fr-flag.gif"
                                alt="French">
                            <span class="flag-text">French</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("ar")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "ar"'>
                            <img width="20px"
                                src="https://www.worldometers.info/img/flags/small/tn_sa-flag.gif"
                                alt="عربي">
                            <span class="flag-text">عربي</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("ch")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "ch"'>
                            <img width="20px" src="https://www.worldometers.info/img/flags/small/tn_ch-flag.gif"
                                alt="中国人">
                            <span class="flag-text">中国人</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("jp")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "jp"'>
                            <img width="20px" src="https://www.worldometers.info/img/flags/small/tn_ja-flag.gif"
                                alt="日本">
                            <span class="flag-text">日本</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("es")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "es"'>
                            <img width="20px" src="https://www.worldometers.info/img/flags/sp-flag.gif" alt="Español">
                            <span class="flag-text">Español</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("en")'
                            style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                            class="language-container language-container-selector"
                            [class.active]='languageFormControl.value == "en"'>
                            <img width="20px" src="https://www.worldometers.info/img/flags/us-flag.gif" alt="English">
                            <span class="flag-text">English</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>

                        <div (click)='changeLanguage("ru")'
                            style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                            class="language-container language-container-selector"
                            [class.active]='languageFormControl.value == "ru"'>
                            <img width="20px" src="https://www.worldometers.info/img/flags/small/tn_rs-flag.gif" alt="Russian">
                            <span class="flag-text">Russian</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="menu-wrapper">
            <div [class.animate]='responsiveMenuVisible' (click)='responsiveMenuVisible = !responsiveMenuVisible'
                class="hamburger-menu"></div>
        </div>
        <div class="menu-responsive" [ngStyle]="{'pointer-events': !responsiveMenuVisible ? 'none' : '' }">
            <aside [class.aside-show]='responsiveMenuVisible' [class.nav-shadow]='this.pageYPosition>0' class="on-top">
                <nav>
                    <ol>
                        <li (click)='analyticsService.sendAnalyticEvent("click_about", "menu", "click")'>
                            <a href="/home">
                                <span>01. </span> {{"Header.Home" | translate}}
                            </a>
                        </li>
                        <li (click)='analyticsService.sendAnalyticEvent("click_blogs", "menu", "click")'>
                            <a (click)='gotoBlogsPage()'>
                                <span>02. </span> {{"Header.Blogs" | translate}}
                            </a>
                        </li>

                        <li>
                            <a (click)='gotoAI()'>
                                <span>03. </span> {{"Header.AI" | translate}}
                            </a>
                        </li>

                        <li>
                            <a (click)="downloadCV()" class="main-btn cv-btn">
                                {{"Header.cvBtn" | translate}}
                            </a>
                        </li>
                        <li>
                            <div class="language-container">
                                <div (click)='changeLanguage("fr")'
                                    style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                                    class="language-container language-container-selector active"
                                    [class.active]='languageFormControl.value == "fr"'>
                                    <img src="https://www.worldometers.info/img/flags/small/tn_fr-flag.gif" alt="french">
                                    <span class="flag-text">French</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>

                                <div (click)='changeLanguage("th")'
                                    style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                                    class="language-container language-container-selector active"
                                    [class.active]='languageFormControl.value == "th"'>
                                    <img src="https://www.worldometers.info/img/flags/small/tn_th-flag.gif" alt="Thailand">
                                    <span class="flag-text">Thai</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>

                                <div (click)='changeLanguage("ru")'
                                    style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                                    class="language-container language-container-selector active"
                                    [class.active]='languageFormControl.value == "fr"'>
                                    <img src="https://www.worldometers.info/img/flags/small/tn_rs-flag.gif" alt="Russian">
                                    <span class="flag-text">Russian</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div (click)='changeLanguage("es")'
                                    style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                                    class="language-container language-container-selector active"
                                    [class.active]='languageFormControl.value == "es"'>
                                    <img src="https://www.worldometers.info/img/flags/sp-flag.gif" alt="Español">
                                    <span class="flag-text">Español</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div (click)='changeLanguage("en")'
                                    style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                                    class="language-container language-container-selector"
                                    [class.active]='languageFormControl.value == "en"'>
                                    <img src="https://www.worldometers.info/img/flags/us-flag.gif" alt="English">
                                    <span class="flag-text">English</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>

                                <div (click)='changeLanguage("jp")'
                                    style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                                    class="language-container language-container-selector"
                                    [class.active]='languageFormControl.value == "jp"'>
                                    <img src="https://www.worldometers.info/img/flags/small/tn_ja-flag.gif" alt="日本">
                                    <span class="flag-text">日本</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>

                                <div (click)='changeLanguage("ch")'
                                    style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                                    class="language-container language-container-selector"
                                    [class.active]='languageFormControl.value == "ch"'>
                                    <img src="https://www.worldometers.info/img/flags/small/tn_ch-flag.gif" alt="中国人">
                                    <span class="flag-text">中国人</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>

                                <div (click)='changeLanguage("ar")'
                                    style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                                    class="language-container language-container-selector"
                                    [class.active]='languageFormControl.value == "ar"'>
                                    <img src="https://www.worldometers.info/img/flags/small/tn_sa-flag.gif"
                                        alt="عربي">
                                    <span class="flag-text">عربي</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>

                                <div (click)='changeLanguage("kr")'
                                    style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                                    class="language-container language-container-selector"
                                    [class.active]='languageFormControl.value == "kr"'>
                                    <img src="https://www.worldometers.info/img/flags/small/tn_ks-flag.gif"
                                        alt="korean">
                                    <span class="flag-text">Korean</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                            </div>
                        </li>
                    </ol>
                </nav>
            </aside>
        </div>
    </div>
</nav>