#route {
    margin-top: 2%;
  }
  .code {
      height:150px;
      width:250px;
      background:#000;
      color:#fff;
      margin:20px;
      width: 40%;
      clear: both;
      height: 200px;
      background: #000;
      border-radius: 2px;
      padding: 10px;
  }